COMPOSE_PROJECT_NAME=miles
ABSOLUT_PATH_TO_JOB_DATA_FOLDER=/var/lib/ecodigit/docker_shares/shares
ARTHUR_PORT=5001
TIMESCALE_PORT=5002
TIMESCALE_USER=timescale
TIMESCALE_PASSWORD=timescalepassword
RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=rabbitmqpassword
MINIO_USER=minio
MINIO_PASSWORD=miniopassword
