.artefact-detail__container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--margin-l);
  padding-bottom: 4rem;
}

.artefact-detail__top-container {
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
}

.artefact-detail__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--margin-s);
}

.more-menu {
  position: absolute;
  top: 1rem;
  right: 0.25rem;
}

.tab-label {
  font-weight: 500;
}
