<div class="eco-insights__container">
  <div class="eco-insights__heading">
    <div class="mat-headline-medium">Eco:Insights</div>
  </div>

  <div class="eco-insights__charts">
    <div class="eco-insights__charts-ecoScore card-container">
      <app-eco-insight-chart
        class="eco-insights__charts-ecoScore"
      ></app-eco-insight-chart>
    </div>
    <div class="eco-insights__charts-measurementAmount card-container">
      <app-measurement-bar-chart
        (clickedMonth)="clickedMonth = $event"
        class="eco-insights__charts-measurementAmount"
      ></app-measurement-bar-chart>
    </div>
  </div>

  <div class="eco-insights__environmentNumbers">
    @for (metric of displayedMetrics; track $index) {
      <div
        class="card-container box"
        [ngStyle]="{ 'background-image': 'url(' + metric.image + ')' }"
      >
        <div class="dashboard__eco-insight-metrics-box-2">
          <p class="mat-title-medium">{{ metric.title }}</p>
          <p class="mat-body-small">{{ metric.unit }}</p>
          <p class="mat-display-medium">
            {{ metric.value | roundUp: 3 }}
          </p>
        </div>
        @if (isClicked) {
          <p class="mat-label-small">
            Sum of the latest measurement per application in {{ clickedMonth }}
          </p>
        } @else {
          <p class="mat-label-small">
            Sum of the latest measurement per application within the last 30
            days
          </p>
        }
      </div>
    }
  </div>
</div>
