/* You can add global styles to this file, and also import other style files */
@use "styles/index";
@use "@angular/material" as mat;
@use "styles/theme/m3-theme.scss";

@include mat.core();

html,
body {
  height: 100%;
}

body {
  background-color: var(--sys-background);
  color: var(--sys-on-surface);
}

html {
  @include mat.all-component-themes(m3-theme.$custom-theme);
  @include mat.typography-hierarchy(m3-theme.$custom-theme);
}
