:root {
  // Margin variables
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.5rem;
  --margin-xxl: 2rem;

  // Padding variables
  --padding-xxs: 0.125rem;
  --padding-xs: 0.25rem;
  --padding-s: 0.5rem;
  --padding-m: 0.75rem;
  --padding-l: 1rem;
  --padding-xl: 1.25rem;
  --padding-xxl: 1.5rem;
}
