:host {
  display: flex;
  flex: 1 1 0;
  min-width: 0;
  flex-direction: column;
}
.dashboard {
  &__eco-insight {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    min-width: 0;

    &-title {
      height: 2.5rem;
    }

    &-chart {
      display: flex;
      flex: 1;
      background-color: var(--sys-surface-container);
      min-width: 0;
    }

    &-metrics {
      display: flex;
      gap: 1.5rem;

      & > * {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      &-box {
        background-repeat: no-repeat;
        padding: 0.5rem;
        gap: 0.75rem;
        flex-grow: 1;

        .mat-label-small {
          color: var(--sys-outline);
        }

        &.box--gwp {
          background-image: url("/assets/images/co2-icon.svg");
          background-position: calc(100% + 2rem) center;
        }

        &.box--weee {
          background-image: url("/assets/images/weee-icon.svg");
          background-position: calc(100% + 0.8rem) center;
        }
      }
    }
  }
}
