.error {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: var(--padding-xxl) var(--padding-m) var(--padding-m)
      var(--padding-m);

    h1 {
      opacity: 0.16;
    }
  }
}
