@use "@angular/material" as mat;

body {
  --mat-autocomplete-background-color: var(--sys-surface-container-high);
  --mat-select-panel-background-color: var(--sys-surface-container-high);

  ::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--sys-surface-variant);
    border-radius: 1rem; // 16px
  }
}

.dialog-container {
  --mat-dialog-container-max-width: 44.5rem; // 712px
  --mat-dialog-container-min-width: 44.5rem; // 712px
  border-radius: 1rem;
  background-color: var(--sys-surface-container-high);
}

.dialog-delete__description {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--margin-l);
  padding-bottom: 1rem;
}
